body{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "header viewport"
    "ui viewport";
}
    .__header{
      grid-area: header;
      background-color: blanchedalmond;
    }
    .__uiserInterface{
      grid-area: ui;
      background-color: aquamarine;
    }
    #app{
      grid-area: viewport;
      background-color: red;
      height: 100vh;
    }